

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fas fa-cube fa-2x"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor01" style="">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-home"></i>   Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/shoppingCart">
            <i class="fas fa-shopping-basket"></i>   Shopping Cart
            <span class="badge rounded-pill bg-danger">{{session.cart.totalNumber}}</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users-cog"></i>     User</a>
          
          <div class="dropdown-menu dropdown-menu-end">
            {{#if login}}
              <a class="dropdown-item" href="/user/logout">Log out</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/profile">Profile</a>
            {{else}}
              <a class="dropdown-item" href="/user/signup">Sign up</a>
              <a class="dropdown-item" href="/user/signin">Sign in</a>
            {{/if}}
          </div>
          
        </li>

      </ul>
    </div>
  </div>
</nav>

