<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body  text-center">

        <img src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg" class="card-img-top" alt="...">
        
        <h5 class="card-title">Special title treatment</h5>
        
        <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ducimus corrupti quod optio voluptatum eos exercitationem repellat eligendi. Ab vel alias voluptas unde nihil sit tempore blanditiis dolorum adipisci aliquid?</p>
        
        <div>
            <div class="price me-md-2">12$</div>
            <a href="#" class="btn btn-primary d-grid">Go somewhere</a>
        </div>
      
      </div>
    </div>
  </div>
</div>